<settings>
	<paths>
		<script-dir>C:\AutoHotkey</script-dir>
		<ahk>
			<basic>C:\Program Files\AutoHotkey\AutoHotkey.exe</basic>
			<lexikos>C:\Program Files\AutoHotkey_L\AutoHotkey_L.exe</lexikos>
			<iron-ahk>C:\Program Files\IronAHK\IronAHK.exe</iron-ahk>
			<ahk-2>C:\Program Files\AutoHotkey2\AutoHotkey.exe</ahk-2>
		</ahk>
	</paths>
	<language>English</language>
	<updates enable="0"></updates>
	<always_safe>1</always_safe>
	
	<source_languages>
		<lang name="no language"	isbuiltin="1">1</lang>
		<lang name="python"			isbuiltin="1">2</lang>
		<lang name="CPP"			isbuiltin="1">3</lang>
		<lang name="HTML"			isbuiltin="1">4</lang>
		<lang name="XML"			isbuiltin="1">5</lang>
		<lang name="PERL"			isbuiltin="1">6</lang>
		<lang name="SQL"			isbuiltin="1">7</lang>
		<lang name="VB"				isbuiltin="1">8</lang>
		<lang name="Properties"		isbuiltin="1">9</lang>
	</source_languages>
	
	<tasks>
		<task name="finish scintilla">Continue work on scintilla
				wrapper : it is necessary for this project!</task>
	</tasks>
</settings>