<Settings>
	<paths>
		<ScriptDir>C:\AutoHotkey</ScriptDir>
		<_7zip>C:\Program Files\7-Zip\7z.exe</_7zip>
		<AHK>
			<Basic>C:\Program Files\AutoHotkey\AutoHotkey.exe</Basic>
			<Lexikos>C:\Program Files\AutoHotkey_L\AutoHotkey_L.exe</Lexikos>
			<IronAHK>C:\Program Files\IronAHK\IronAHK.exe</IronAHK>
			<AHK_2>C:\Program Files\AutoHotkey2\AutoHotkey.exe</AHK_2>
		</AHK>
	</paths>
	<language>English</language>
	<updates enable="0"></updates>
	
	<source_languages>
		<language Name="AutoHotkey">C:\AutoHotkey\AHK.ScriptsMan\Keywords_AHK_B.hes</language>
		<language Name="AutoHotkey_L">C:\AutoHotkey\AHK.ScriptsMan\Keywords_AHK_L.hes</language>
		<language Name="IronAHK">C:\AutoHotkey\AHK.ScriptsMan\Keywords_AHK_I.hes</language>
		<language Name="AutoHotkey2">C:\AutoHotkey\AHK.ScriptsMan\Keywords_AHK_2.hes</language>
	</source_languages>
	
	<tasks>
		<task Name="finish scintilla">Continue work on scintilla
				wrapper : it is necessary for this project!</task>
	</tasks>
</Settings>